.background {
    position: fixed; 
    width: 100%;
    min-height: 100%; /* Изменено с height на min-height */
    top: 0px;
    left: 0px;
    margin: 0; 
    padding: 0;
    background-image: url('https://i.ibb.co/Cz0cdLJ/Screenshot-2024-01-30-at-21-23-11.png');
    background-size: 100% auto; /* Растянуть по ширине с сохранением пропорций */
    background-repeat: no-repeat;
    background-position: center top; /* Выровнять по центру сверху */
    background-attachment: scroll; /* Изменить на scroll для добавления прокрутки */
}
.button{
    position: absolute;
    font-weight: normal;
    color: black;
    top: 10px;
    left: 8px;
    width: 75px;
    height: 20px;
    text-decoration: none;
}
.buttonBg{
    position: absolute;
    right: 358px;
    top: 7.5px;
    width: 75px;
    height: 34px;
    background-image: url(/images/Screenshot_778.png);
    background-size: contain;
}
.buttonBg:hover{
    background-color: gray;
    color: white;
    background-image: url(/images/Screenshot_779.png);
}
.button:after{
    text-decoration: none;
    color: black;
}
.loginBg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(/images/loginPage.jpeg);
    background-position: center;
    background-size: contain;
    background-repeat:no-repeat;
}
